.page
{
    margin: 0px;
    padding:0px;
    background-image: url("../img/bg.jpg");
    background-size:cover;
}
.ust
{
    width:100%;
    height:90px;
    border-radius:90px;
    background: rgba(44, 62, 80,0.9);
    top:0px;
    position: fixed;
    transition: 1s all ease-in-out;
    overflow: hidden;
}
.ust ul
{
    width:100%;
    float:left;
}
.ust ul li
{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
   padding:0px 15px;
    line-height:60px;
    float:left;
    font-size: 18px;
}
.ust ul li a
{
    color:#fff;
    text-decoration: none;
    transition:0.3s color ease-in;
}
.ust ul li a:hover
{
    color:#00FF00;

}
.hamburgermenu_tasi
{
    width:120px;
    height:120px;
    float:left;
    margin-top: 30px;
}
.hamburgermenu
{
    width: 35px;
    height: 5px;
    background-color: #ecf0f1;
    margin-top: 5px;
    margin-left:20px;
}
.icerik
{
    width:1100px;
    min-height:400px;
    height: auto;
    float: left;
    margin-left: calc(50vw - 580px);
    margin-top: 15px;
    border-radius:5px;
    background:rgba(52, 73, 94,0.5);
    font-size:18px;
    border:2px solid #fff;
    color:#fff;
    padding:30px;
    font-family: 'Open Sans', sans-serif;
    transition:0.5s background ease-in-out;
}
.icerik:hover
{
    background:rgba(52, 73, 94,0.1);
}
@keyframes yanipSon{
    50%{
        color:#00FF00;
    }
    100%{
        color:#fff;
    }
}
.yanson{
    animation: 2s yanipSon  infinite;
}
.admin_bg
{
    background: #f5f5f5;
}
.ortala
{
    text-align: center;
}
.ust_bosluk
{
    margin-top: 50px;
}
i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 32px;
    color:#fff;
}
i.fa:hover
{
    opacity: 0.5;
}
a
{
    color: lime;
}
a:hover
{
    opacity: 0.5;
}
.login{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}